<div th:replace="fragments/header"></div>

<h1 th:text="${something}"/>
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Nickname</th>
        <th scope="col">Guild</th>
        <th scope="col">Heroes 1</th>
        <th scope="col">Heroes 2</th>
        <th scope="col">Heroes 3</th>
        <th scope="col">Titans</th>
        <th scope="col">Date Time</th>
        <th scope="col">Actual</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="player: ${players}">
        <td th:text="${player.getNickname()}"/>
        <td th:text="${player.getGuild()}"/>
        <td th:text="${player.getHeroes1()}"/>
        <td th:text="${player.getHeroes2()}"/>
        <td th:text="${player.getHeroes3()}"/>
        <td th:text="${player.getTitans()}"/>
        <td th:text="${player.getDateTime()}"/>
        <td th:text="${player.getActual()}"/>
    </tr>
    </tbody>
</table>

<div th:replace="fragments/footer"></div>